[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git

[submodule "vim/bundle/vim-protobuf"]
	path = vim/bundle/vim-protobuf
	url = https://github.com/uarun/vim-protobuf.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
